<div class="profile bg-white py-10 pb-20">
  <div class="container mx-auto">
    <div class="flex gap-8">
      <div class="sidebar w-[280px] space-y-5">
        <div class="flex items-center gap-2">
          <svg
            width="12"
            height="14"
            viewBox="0 0 12 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              opacity="0.4"
              d="M7 7L0 14L0 -3.0598e-07L7 7Z"
              fill="#18181B"
            />
            <path d="M12 7L5 14L5 -3.0598e-07L12 7Z" fill="#18181B" />
          </svg>

          My Profile
        </div>

        <div class="options flex flex-col font-normal gap-1">
          <a
            [routerLink]="['edit']"
            routerLinkActive="router-link-active"
            class="justify-start shadow-sm font-normal"
            variant="outline"
            hlmBtn
          >
            Personal Information
          </a>
          <a
            routerLink="change-password"
            class="justify-start font-normal text-slate-600"
            variant="ghost"
            hlmBtn
          >
            Change Password
          </a>
          <a
            routerLink="notifications"
            class="justify-start font-normal text-slate-600"
            variant="ghost"
            hlmBtn
          >
            Notifications
          </a>

          <hlm-dialog class="w-full">
            <button
              class="w-full justify-start font-normal text-red-500 hover:bg-red-50 hover:text-red-500"
              variant="ghost"
              brnDialogTrigger
              hlmBtn
            >
              Delete Account
            </button>

            <hlm-dialog-content *brnDialogContent="let ctx">
              <hlm-dialog-header>
                <h3 hlmDialogTitle hlm>Are your sure?</h3>
                <p hlmDialogDescription hlm>
                  Do you really want to delete your account? You can’t recover
                  this account once you deleted.
                </p>
              </hlm-dialog-header>

              <form class="my-4">
                <div class="form-group space-y-1.5">
                  <!-- <label for="email" hlmLabel
                    >Email
                    <span class="text-red-500">*</span>
                  </label> -->

                  <input
                    hlmInput
                    type="email"
                    name="email"
                    #email="ngModel"
                    [(ngModel)]="user.email"
                    [placeholder]="'Enter you email'"
                    required
                  />

                  <div
                    class="hint-text"
                    *ngIf="email?.invalid && email?.touched"
                  >
                    <hlm-hint
                      *ngIf="email?.errors?.['required']"
                      class="text-red-600 text-xs"
                      >Email is required!
                    </hlm-hint>

                    <hlm-hint
                      *ngIf="email?.errors?.['pattern']"
                      class="text-red-600 text-xs"
                      >Please enter a valid email address
                    </hlm-hint>
                  </div>
                </div>
              </form>

              <hlm-dialog-footer>
                <button variant="outline" hlmBtn type="submit">Cancel</button>
                <button variant="destructive" hlmBtn type="submit">
                  Delete
                </button>
              </hlm-dialog-footer>
            </hlm-dialog-content>
          </hlm-dialog>
        </div>
      </div>

      <div class="content-wrapper w-full">
        <router-outlet />
      </div>
    </div>
  </div>
</div>
