<div class="hero-banner py-16">
  <div class="container mx-auto">
    <div class="flex items-center gap-6">
      <div class="left w-full space-y-8">
        <a
          routerLink="/"
          class="inline-flex items-center gap-1.5 p-1 pr-4 text-sm text-slate-800 bg-white rounded-full shadow-lg shadow-slate-500/5 transition-all duration-200 ease-in-out border border-slate-200 inline-bloc"
        >
          <span
            class="text-xs px-2 py-0.5 bg-gradient-to-b from-sky-400 to-sky-500 text-white rounded-full"
            >Preview</span
          >
          Presentations in 5 minutes
        </a>

        <div class="space-y-3 w-5/6">
          <h1 class="text-6xl font-bold text-slate-900 leading-tight">
            Build Real Estate Presentations <br />
            <span
              class="bg-gradient-to-b from-sky-300 via-sky-400 to-sky-600 text-transparent bg-clip-text"
            >
              10x Faster with AI
            </span>
          </h1>
          <p class="text-lg text-slate-700">
            Generate sleek, investor-ready deal presentations instantly. Upload
            an OM or key details, and let AI create a polished, professional
            webpage or PDF.
          </p>
        </div>

        <button class="gap-1.5 px-3.5 rounded-lg" size="lg" hlmBtn>
          <ng-icon class="text-white" name="remixSparkling2Fill" />

          Create Your Deal Presentation
        </button>
      </div>

      <div class="right w-2/3">
        <img src="assets/hero_image.png" alt="hero-image" class="w-full" />
      </div>
    </div>
  </div>
</div>

<!-- features sections -->
<div class="features py-16">
  <div class="container mx-auto">
    <div class="space-y-3 mb-12">
      <h2 class="text-5xl font-bold text-slate-900 text-center">
        Features & Benefits
      </h2>
      <p class="text-lg text-slate-700 text-center">
        ✨ Built for Real Estate Pros Who Close Deals
      </p>
    </div>

    <div class="flex gap-5 items-center justify-center">
      @for (feature of features; track $index) {
      <app-feature-card
        class="flex-1"
        [imageUrl]="feature.imageUrl"
        [title]="feature.title"
        [description]="feature.description"
      ></app-feature-card>
      }
    </div>
  </div>
</div>

<!-- brokers sections -->
<div class="brokers py-16">
  <div class="container mx-auto">
    <div class="space-y-3 mb-12">
      <h2 class="text-5xl font-bold text-slate-900 text-center">
        Who It’s For
      </h2>
      <p class="text-lg text-slate-700 text-center">
        👥 Made for Brokers, Developers & Investors
      </p>
    </div>

    <div class="flex gap-5 items-center justify-center">
      @for (broker of brokers; track $index) {
      <app-brokers-card
        class="flex-1 items-center justify-center"
        [icon]="broker.icon"
        [title]="broker.title"
        [description]="broker.description"
      ></app-brokers-card>
      }
    </div>
  </div>
</div>

<!-- CTA wrapper -->
<div class="cta-wrapper py-16">
  <div class="container mx-auto">
    <div
      class="pattern relative bg-white border border-slate-200 shadow-lg shadow-slate-500/10 rounded-[20px] px-10 py-20 z-10 overflow-hidden"
    >
      <div
        class="flex flex-col items-center justify-center gap-7 relative z-10"
      >
        <div
          class="bg-gradient-to-b from-sky-300 via-sky-400 to-sky-500 p-0.5 rounded-full"
        >
          <p
            class="flex items-center gap-1.5 h-8 px-3 pr-3.5 text-sm text-slate-800 bg-white rounded-full"
          >
            <ng-icon
              name="remixSparkling2Fill"
              class="text-sky-500"
              size="18"
            />
            Presentations in 5 minutes
          </p>
        </div>

        <div class="space-y-3">
          <h2
            class="text-5xl font-bold bg-gradient-to-b from-sky-300 via-sky-400 to-sky-600 text-transparent bg-clip-text leading-tight"
          >
            Ready to Close More Deals, Faster?
          </h2>
          <p class="text-lg text-slate-600 text-center">
            Create your first professional real estate presentation with AI in
            under 5 minutes.
          </p>
        </div>

        <a routerLink="/" class="px-4 rounded-lg gap-1.5" size="lg" hlmBtn>
          <ng-icon name="remixSparkling2Fill" class="text-white" size="20" />
          Start Now – It’s Free</a
        >
      </div>

      <img
        src="assets/bg_effect.svg"
        alt="bg-effects"
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-0 w-[800px] h-[800px] opacity-80"
      />
    </div>
  </div>
</div>
