.hero-banner {
  background: url("../../../assets/hero_image_bg.png") no-repeat center center;
  background-size: contain;
  // height: 100vh;
}

.pattern {
  background: url("../../../assets/pattern.svg") repeat center center;
  background-size: 38px 38px;
  bacopacity: 0.1;
}
